<%= form_for(@food_truck) do |f| %>
  <% if @food_truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_truck.errors.count, "error") %> prohibited this food_truck from being saved:</h2>

      <ul>
      <% @food_truck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cuisine %><br>
    <%= f.text_field :cuisine %>
  </div>
  <div class="field">
    <%= f.label :open %><br>
    <%= f.number_field :open %>
  </div>
  <div class="field">
    <%= f.label :close %><br>
    <%= f.number_field :close %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
