<p id="notice"><%= notice %></p>
<h1><%= @cuisine %></h1>

<table class="table">
  <thead>
    <tr>
    <th>Name</th>
      <th>Cuisine</th>
      <th>Status</th>
      <% if logged_in? %>
      <th>My Rating</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_trucks.each do |food_truck| %>
      <tr class="hoverable">
        <td><%= link_to food_truck.name, food_truck %></td>
        <td><%= food_truck.cuisine %></td>
        <% if food_truck.open? %>
          <td><span class="green-text text-darken-2">open</span></td>
        <% else %>
            <td><span class="red-text text-darken-2">closed</span></td>
        <% end %>
        <% if logged_in? %>
        <td><div class="user_star" data-score=<%= Rating.all.find_by(user_id: current_user.id, food_truck_id: food_truck.id).number %></div></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<a style="position:relative;left:18px;" class="waves-effect waves-light btn-large" href="/sort_by_cuisine">Back</a>

<% if logged_in? %>
<script>
    $('.user_star').raty({
    readOnly: true,
    path: '/assets',
    score: function() {
            return $(this).attr('data-score');
    }

  });
</script>
<% end %>